<pre>
<b><span class="term-green">$</span></b> <span class="term-green">hyperfine</span>{{ if .Get "warmup" }} --warmup {{ .Get "warmup" }}{{ end }}{{ if .Get "prepare" }} --prepare <span class="term-yellow">'{{ .Get "prepare" }}'</span>{{ end }} <span class="term-yellow">'{{ .Get "cmd" }}'</span>
<b>Benchmark 1:</b> cargo check
  Time (<b><span class="term-green">mean</span></b> ± <span class="term-green">σ</span>):     <b><span class = "term-green">{{ .Get "mean" }} s</span></b> ± <span class="term-green">{{ .Get "stddev" }} s</span>    [User: <span class="term-blue">{{ .Get "user" }} s</span>, System: <span class="term-blue">{{ .Get "sys" }} s</span>]
  Range (<span class="term-cyan">min</span> … <span class="term-magenta">max</span>):   <span class="term-cyan">{{ .Get "min" }} s</span> … <span class="term-magenta">{{ .Get "max" }} s</span>    <span class="term-gray">10 runs</span>
</pre>
